html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  color: #f3f3f3;
  background: #171717;

  @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #f3f3f3;
    background: #171717;
  }
} */
